{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

<form class="form-inline" method="POST">
  <!-- Email input -->
  <div class="input-group mb-2 mr-sm-2">
      <label class="col-sm-2 col-form-label" for="email">Email address</label>
      <input type="email" id="email" name="email" class="form-control mb-2" />
  </div>

  <!-- Password input -->
  <div class="input-group mb-2 mr-sm-2">
      <label class="col-sm-2 col-form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control mb-2" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>


</form>

</div>
{% endblock %}